# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\formation\live\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
